body{
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  font-family: IRYekans;
}
.body-game{
  overflow: hidden;
  width: 500px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 80px;
  gap: 20px;
  border-radius: 4px;
}
.body-game > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 15px;
}
.body-game__items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}
.body-game__cards{
  background-color: red;
  color: white;
  flex-basis: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
footer > button{
  width: 100px;
  background-color: yellow;
  padding:10px 5px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: inherit;
}